@CHARSET "UTF-8";

.page-heder{
	margin-left:300px;
	
}

.thumbnails{
	float: left;
	
}

.span4{
	padding-left: 20px;
}


.viajar{
	height: 300px;
	width: 385px;
	margin-top:171px;
}

.avion{
	height:100px;
	width:100px;
	margin-bottom: -66px;
	
}

.subtitulo{
	margin-left: 118px;
}


.selector{
	margin-left: 120px;
}