<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Carmen SanDiego</title>

<!-- BOOTSTRAP -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- /BOOTSTRAP -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<link href="css/popUp.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/css-pop.js"></script>

<link rel="stylesheet" href="css/app.css" />
<link rel="shortcut icon" href="img/favicon.ico" />


</head>

<body ng-controller="CarmenSanDiegoController">
	<div class="container">
	
		<div class="page-heder">
			<h1>
				Carmen San Diego
			</h1>
		</div> <!-- Cierra page-heder --> 
		
		
		<div class="estasEn">
		<h3 ng-model="paisActual">
			Estas en : Argentina
			<img alt="Argentina" src="img/arg.png" height="42" width="42">
		</h3>
		</div>
		
		<div class="antes">
			<h3> Antes :España, Chile, China</h3>
		</div>
		
		
		<div class="row">
				  <div class="col-md-4">
		    			 <div class="thumbnail">
		    			 	<img src="img/banco.jpg" class="img-thumbnail"/>
					      	<div class="caption text-center">
			     				<button class="btn btn-info" id="ver" onclick="popup('popUpDiv')">Visitar Banco</button>
		     				</div>
		    			</div>
		 		  </div>
		 		
				  <div class="col-md-4">
		    			 <div class="thumbnail">
		    			 	<img src="img/club.jpg" class="img-thumbnail"/>
					      	<div class="caption text-center">
			     				<button class="btn btn-info" id="ver" onclick="popup('popUpDiv')">Visitar Club</button>
		     				</div>
		    			</div>
		    		</div>
		
				  <div class="col-md-4">
		    			 <div class="thumbnail">
		    			 	<img src="img/biblioteca.jpg" class="img-thumbnail"/>
					      	<div class="caption text-center">
			     				<button class="btn btn-info" id="ver" onclick="popup('popUpDiv')">Visitar Biblioteca</button>
		     				</div>
		    			</div>
		    	</div>
			</div>	
			
			
	<!--POPUP-->    
    
    <div id="blanket" style="display:none;"></div>
	<div id="popUpDiv" style="display:none;">
    		<h3>Pistas</h3>
    	<a href="#" onclick="popup('popUpDiv')" >Click to Close CSS Pop Up</a>
	</div>	
 

 	
	<!-- / POPUP--> 					


			
	<div class="row">
		<div class="col-md-4">
			<div class="viajar thumbnail">
				<div class="avion">
					<img alt="Viajar" src="img/avion.png" height="100" width="100">
				</div>
				<div class="subtitulo">
					<h3>Viajar a: </h3>
				</div>
				<div class="selector text-center">
				<select class="selectpicker" data-style="btn-primary">
			  		<option>Bolivia</option>
		    		<option>Egipto</option>
		    		<option>Belice</option>
		   		</select>
		   		</div>
			</div>
		</div>		
		   
		 <div class="col-md-4">  

		   		 <div class="well well-large">
 					Destinos Fallidos
 				</div>
		   		 <ul class="list-inline">
<!-- 		   		 	<li ng-repeat="pais in contactos"></li> -->
<!-- 		   		 	<li>{{pais.titulo}}</li> -->
		   		 	
		   			<li>Mexico</li>
		  			<li>USA</li>
		 			<li>Rusia</li>
		 			<li>España</li>
		  			<li>Australia</li>
				</ul>
		  
		 </div>
	   </div> <!-- Cierra col md 4 -->
 	
 	<div class="row">
 		<div class="well well-large text-center h2">
			Orden De Arresto  
		</div>
		<h3>Emitida contra:</h3>
		<div class="villanoImagen text-center">
		 	<img alt="Burns" src="img/burns.png" class="img-circle">
		</div>
		 <div class="villanos text-center">
		 	<select>
		  		<option>Moria Casan</option>
		  		<option>Gordo Valor</option>
		  		<option>Señor Burns</option>
		  		<option>Bonnie</option>
		  		<option>Boudou</option>
			</select>
		 </div>
	</div>
	
	

  
		 	
 </div> <!-- Cierra container -->
 	
</body>
</html>